body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 500;
}

.heading {
    font-size:x-large;
    font-weight: 700;
}

.main {
    border: 20px;
    color: white;
    background-color: red;
    font-size: xx-large;
    text-align: center;
}

.pizza,
.modifiers {
    background-color: lightsalmon;
}

button {
    color: white;
    font-size: medium;
    font-weight: 700;
}
.dough {
    background-color: burlywood;
}
.sauce {
    background-color: crimson;
}